/*
CSS definitivo, Incompleto
*/

/*
Index
*/

/* TOPO */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    height: 60px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 20px;
    margin: 0px;

    border-bottom: 2px solid #1976d2;
}

header div {
    display: flex;
    justify-content: left;
}

header div button{
    margin-top: 10px;
    width: 50px;
    font-size: 32px;
    height: 50px;
    padding: 0px;
    border: none;
    background: transparent;
}

header div a img{
    font-size: 24px;
    font-weight: bold;
    margin-left: 50px;
}


header button {
    padding: 10px 15px;
    cursor: pointer;
}

/* CONTAINER */

.container {
    display: flex;
}

/* MENU LATERAL */

.menu-lateral {
    width: 220px;
    min-height: 100vh;

    background-color: #8fb8df;
    background-image: url(../imagens/TexturaFundoMenu.png);
    background-size: 60%;
    
    padding: 15px;

    transition: 1s;
}


.menu-lateral.escondido {
    width: 0px;
    padding: 0px;
    overflow: hidden;
}

/* PERFIL */

.menu-lateral div {
    background-color: #1976d2;
    border-left: 6px solid #125aa3;

    height: 70px;

    display: flex;
    align-items: center;

    border-radius: 10px;

    padding: 0 15px;

    margin-bottom: 30px;
}

.menu-lateral div img {
    border-radius: 50%;

    border: 2px solid black;

    background-color: white;
}

.menu-lateral div span {
    margin-left: 15px;

    background-color: white;

    padding: 10px 20px;

    border-radius: 20px;

    color: black;
}

/* MENU */

.menu-lateral ul {
    list-style: none;
    padding: 0;
}

.menu-lateral ul li {
    background-color: #333;

    margin-bottom: 10px;
    border-left: 5px solid #0d47a1;
    border-radius: 5px;

    padding: 12px;
    transition: 0.3s;
}

.menu-lateral ul li:hover {
    margin-left: 20px;
}

.menu-lateral ul li a {
    color: white;
    text-decoration: none;
}

/* CONTEÚDO */

.conteudo {
    flex: 1;
    background-color: white;
}

#banner {
    object-fit: cover;
}

#informacoes {
    align-content: center;
    display: block;

    margin-top: 30px;
    margin-left: 50px;

    padding: 30px;

    text-align: center;
}

#informacoes h1 {
    margin: 0;
    font-size: 60px;
    color: #555;
}

#informacoes p,
#informacoes a {
    margin: 5px 0;
    text-decoration: none;
}

#calendario {
    margin-left: 50px;
    padding: 30px;
}

#calendario table {
    border-collapse: collapse;
}

#calendario table th {
    background-color: #1976d2;
    color: white;

    border: 2px solid #636363;

    padding: 10px;

    text-align: center;
}

#calendario table td {
    border: 2px solid #636363;

    padding: 10px;

    text-align: center;
}

/* PAGINA CHECKIN */

.texto{
    margin-left:50px;
    padding-right: 20px;
    margin-top:30px;
}

.texto a {
    border: none;    
    margin-right: 10px;
    padding: 10px 15px;
    background-color: #1976d2;
    border-radius: 5px;
    border-left: 5px solid #0d47a1;
    color: white;

    transition: 0.5s;
}

.texto a:hover {
    margin-left: 20px;
}

.texto h3{
    color:#4a90e2;
}

.botaockein{
    background-color: rgb(4, 4, 130);
    color: white;
    margin-left:50px;
    margin-top:30px;
    padding: 10px;
}

.imagem {

    right: 850px;

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 90px 0px 0px 200px;
}

.imagem img{
    padding: 25px;
    margin-left: 5px ;
    align-items: center;
    background-image: url(../imagens/_459568A5-48E9-4EF9-B45A-775DC9138505_-removebg-preview.png);
}

.conteudo-checkin {
    display: flex;
}

/* PAGINA LOGIN */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    padding: 20px 0;
}

.menu-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-image: url(../imagens/_459568A5-48E9-4EF9-B45A-775DC9138505_-removebg-preview.png);
    border-radius: 20px;

}

.login-box {
    text-align: center;
    background-color: #3c6fa3;

    width: 300px;
    height: 300px;

    margin: 0px;
    padding: 30px;
    border-radius: 20px;

    color: white;
}